<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">  
	    <title>E-gammer - Cadastro</title>
        <meta name="description" content="">
        <meta name="author" content="templatemo">

	</head>
	<body class="light-gray-bg" ng-app="egammer">
		<div ng-controller="LoginController">
			<div class="templatemo-content-widget templatemo-login-widget white-bg">
				<header class="text-center">
		          <div class="square"></div>
		          <h1>E-gammer</h1>
		        </header>
		        <form class="templatemo-login-form">
		        	<div class="form-group">
		        		<div class="input-group">
			        		<div class="input-group-addon"><i class="fa fa-user fa-fw"></i></div>	        		
			              	<input type="text" class="form-control" placeholder="Nome" ng-model="usuario.nome">           
			          	</div>	
		        	</div>
		        	<div class="form-group">
		        		<div class="input-group">
			        		<div class="input-group-addon"><i class="fa fa-user fa-fw"></i></div>	        		
			              	<input type="text" class="form-control" placeholder="Email" ng-model="usuario.username">           
			          	</div>	
		        	</div>
		        	<div class="form-group">
		        		<div class="input-group">
			        		<div class="input-group-addon"><i class="fa fa-user fa-fw"></i></div>	        		
			              	<input type="text" class="form-control" placeholder="Confirmar email" ng-model="confirmacao.username">           
			          	</div>	
		        	</div>
		        	<div class="form-group">
		        		<div class="input-group">
			        		<div class="input-group-addon"><i class="fa fa-user fa-fw"></i></div>	        		
			              	<input type="password" type="text" class="form-control" placeholder="senha" ng-model="usuario.password">           
			          	</div>	
		        	</div>
		        	<div class="form-group">
		        		<div class="input-group">
			        		<div class="input-group-addon"><i class="fa fa-user fa-fw"></i></div>	        		
			              	<input type="password" type="text" class="form-control" placeholder="Confirmar senha" ng-model="confirmacao.password">           
			          	</div>	
		        	</div>
		        		          
					<div class="form-group">
						<button type="submit" class="templatemo-blue-button width-100" ng-click="salvar()">Cadastrar</button>
					</div>
		        </form>
			</div>
		</div>
	
		<!-- JS -->
		<script type="text/javascript" src="../../js/bibliotecas/angular.min.js"></script>
		<script type="text/javascript" src="../../js/bibliotecas/angular-route.js"></script>
		<script type="text/javascript" src="../../js/bibliotecas/angular-translate.js"></script>
		<script type="text/javascript" src="../../js/comum/comum.js"></script>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700' rel='stylesheet' type='text/css'>
		<link href="../../css/font-awesome.min.css" rel="stylesheet">
		<link href="../../css/bootstrap.min.css" rel="stylesheet">
		<link href="../../css/templatemo-style.css" rel="stylesheet">
		<link href="../../css/jquery-ui.css" rel="stylesheet">
		<link href="../../css/bootstrap-datepicker.css" rel="stylesheet">
		<link rel="stylesheet" href="../../css/site/alertify.rtl.css">
		<link rel="stylesheet" href="../../css/site/default.rtl.css">
		<link rel="stylesheet" href="../../css/site/custom.css">
		<script src="../../js/bibliotecas/jquery-1.11.2.min.js"></script>
		<script src="../../js/bibliotecas/jquery-migrate-1.2.1.min.js"></script>
		<script src="../../js/bibliotecas/bootstrap-datepicker.js"></script>
		<script src="../../js/bibliotecas/bootstrap-datepicker.pt-BR.min.js"></script>
		<script type="text/javascript" src="../../js/bibliotecas/templatemo-script.js"></script>
		<script src="../../js/bibliotecas/angular-animate.js"></script>
		<script src="../../js/bibliotecas/ui-bootstrap.js"></script>
		<script src="../../js/bibliotecas/bootstrap.min.js"></script>
		<script src="../../js/bibliotecas/dirPagination.js"></script>
		<script src="../../js/bibliotecas/alertify.js"></script>
	  	<script type="text/javascript" src="../../js/controller/site/loginController.js"></script>
	  	<script type="text/javascript" src="../../js/service/site/clienteService.js"></script>
	    
	</body>
</html>